// cinza
$dove-gray:       #6F6F6F;
$emperor:         #515151;
$boulder:         #7B7878;
$gallery:         #ECECEC;
$gray:            #929292;
$mine-shaft:      #202020;
$nobel:           #B3B3B3;
$scorpion:        #5A5A5A;
$tundora:         #404040;
$silver-chalice:  #9D9D9D;

// amarelo
$ochre:           #CC7D1E;
$tree-poppy:      #F7941E;

// vermelho
$torch-red:       #FD0E35;